<div class="box-content">
    <div class="table-title">Activations for
        <a ng-href="#/software/{{software._id}}/licenses"><b ng-bind="software.name"></b></a> for
        <b ng-bind="license.userOrganizationName"></b>
    </div>
    <div class="container-fluid">
        <div class="row table-header">
            <div class="order">#</div>
            <div class="device">Device Unique ID</div>
            <div class="download"></div>
        </div>
        <div class="row table-body" ng-show="isShown==true" ng-repeat="item in devices">
            <div class="order" ng-bind="$index+1+'.'"></div>
            <div class="device" ng-bind="item.activationId"></div>
            <div class="download">
                <a role="button" class="btn btn-primary btn-sm btn-block active col-xs-12 col-sm-2 col-md-2 col-lg-2"
                   href="/api/software/{{software._id}}/licenses/{{license._id}}/activations/{{item.activationId}}/license_file/">Download License File</a>
            </div>
            <div>
                <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editModal" ng-click="edit(item)">Edit</button>
                <button class="btn btn-danger" ng-click="deleteDevice(item)">Delete</button>
            </div>
        </div>
    </div>
</div>
<div class="box-content-bottom">
    <form name="inputForm" class="form-horizontal" novalidate role="form" ng-submit="inputForm.$valid && createDevice()">
        <div align="center" class="form-group activation-info" class="col-xs-8 col-sm-10 col-md-11 col-lg-11">
            Activated:  <b ng-bind="license.issuedLicenses.length"></b>
            of <b ng-bind="license.allowedActivations"></b>&nbsp;&nbsp;&nbsp;&nbsp;
            Expiration Date: <b ng-bind="license.expirationDate | date:'yyyy/MM/dd'"></b>&nbsp;&nbsp;&nbsp;&nbsp;
            License ID: <b ng-bind="license.licenseUniqueID.value"></b>
        </div>
        <div class="form-group">
            <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
                <label class="sr-only" for="activationId">Enter Device Unique ID</label>
                <input name="activationId" id="activationId" ng-model="device.activationId" type="text" class="form-control"
                       placeholder="Enter Device Unique ID" ng-disabled="license.allowedActivations==license.issuedLicenses.length" required />
            </div>
            <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
                <button role="button" ng-disabled="isSaving || inputForm.$invalid" type="submit"
                        class="btn btn-primary btn-sm btn-block active">Activate</button>
            </div>
        </div>
    </form>
</div>

<!-- The Modal -->
<div class="modal" id="editModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Edit Software</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <!-- Modal body -->
            <form name="editForm" role="form" ng-submit="editForm.$valid && editDevice()" novalidate>
            <div class="modal-body">
                <div class="mb-3 mt-3">
                    <label for="software_name" class="form-label" >Device Unique Id:</label>
                    <input type="text" ng-model="current_activationId" class="form-control" id="software_name" placeholder="Enter software name" name="email" required>
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary"  data-bs-dismiss="modal" ng-disabled="editForm.$invalid">Save</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
            </div>
            </form>

        </div>
    </div>
</div>