<div class="box-content">
    <div class="table-title">Activations for
        <a ng-href="#/software/{{software._id}}/licenses"><b ng-bind="software.name"></b></a> for
        <b ng-bind="license.userOrganizationName"></b>
    </div>
    <div class="container-fluid">
      
        <div class="row table-header">
            <div class="col-md-1 col-sm-1 col-xs-1">#</div>
            <div class="col-md-3 col-sm-3 col-xs-3">Device Unique ID</div>
            <div class="col-md-3 col-sm-3 col-xs-3">Email</div>
            <div class="col-md-5 col-sm-5 col-xs-5"></div>

        </div>
        <div class="row table-body" ng-repeat="item in devices" >
            <div class="col-md-1 col-sm-1 col-xs-1" ng-bind="$index+1+'.'"></div>
            <div class="col-md-3 col-sm-3 col-xs-3" ng-bind="item.activationId"></div>
            <div class="col-md-3 col-sm-3 col-xs-3" ng-bind="item.email"></div>
            <div  class="col-md-5    col-sm-5 col-xs-5"   style="display: flex;align-items: flex-end;justify-content: flex-end;">
                <a role="button" class="btn btn-primary btn-sm btn-block active col-xs-12 col-sm-2 col-md-2 col-lg-2"
                  ng-click="downloadFile(item);" >Download License File</a>
            </div>
            <!-- <div class="col-md-2 col-sm-2 col-xs-2">
                <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editModal" ng-click="edit(item)">Edit</button>
                <button class="btn btn-danger" ng-click="deleteSoftware(item)">Delete</button>
            </div> -->
        </div>

    </div>
</div>
<div class="box-content-bottom">
    <form name="inputForm" class="form-horizontal" novalidate role="form" ng-submit="inputForm.$valid && createDevice()">
        <div align="center" class="form-group activation-info" class="col-xs-8 col-sm-10 col-md-11 col-lg-11">
            Activated:  <b ng-bind="license.issuedLicenses.length"></b>
            of <b ng-bind="license.allowedActivations"></b>&nbsp;&nbsp;&nbsp;&nbsp;
            Expiration Date: <b ng-bind="license.expirationDate | date:'yyyy/MM/dd'"></b>&nbsp;&nbsp;&nbsp;&nbsp;
            License ID: <b ng-bind="license.licenseUniqueID.value"></b>
        </div>
        <div class="form-group add-new-form">
            <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
                <label class="sr-only" for="activationId">Enter Device Unique ID</label>
                <input name="activationId" id="activationId" ng-model="device.activationId" type="text" class="form-control"
                       placeholder="Enter Device Unique ID" ng-disabled="license.allowedActivations==license.issuedLicenses.length" required />
            </div>
            <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10 mt-3">
                <label class="sr-only" for="activationId">Email</label>
                <input name="activationId" id="email" ng-model="device.email" type="text" class="form-control"
                       placeholder="Enter email" ng-disabled="license.allowedActivations==license.issuedLicenses.length" required />
            </div>
            <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 mt-3">
                <button role="button" ng-disabled="isSaving || inputForm.$invalid" type="submit"
                        class="btn btn-primary btn-sm btn-block active">Activate</button>
            </div>
        </div>
    </form>
</div>

<!-- The Modal -->
<div class="modal" id="editModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Edit Software</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <!-- Modal body -->
            <form name="editForm" role="form" ng-submit="editForm.$valid && editDevice()" novalidate>
            <div class="modal-body">
                <div class="mb-3 mt-3">
                    <label for="software_name" class="form-label" >Device Unique Id:</label>
                    <input type="text" ng-model="current_activationId" class="form-control" id="software_name" placeholder="Enter software name" name="email" required>
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary"  data-bs-dismiss="modal" ng-disabled="editForm.$invalid">Save</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
            </div>
            </form>

        </div>
    </div>
</div>