<div class="box-content">
    <div class="table-title">Licenses for <b>{{software.name}}</b></div>
    <div class="container-fluid">
        <div class="row table-header">
            <div class="col-xs-2 col-md-1">#</div>
            <div class="col-xs-2 col-md-2">Organization Name</div>
            <div class="col-xs-2 col-md-2">Allowed activations</div>
            <div class="col-xs-2 col-md-2">Expiration Date</div>
            <div class="col-xs-2 col-md-3">License</div>
            <div class="col-xs-2 col-md-2">Actions</div>
        </div>
        <div class="row table-body" ng-show="isShown==true" ng-repeat="item in licenses" ng-dblclick="showDetail(item)">
            <div class="col-xs-2 col-md-1" ng-bind="$index+1+'.'"></div>
            <div class="col-xs-2 col-md-2" ng-bind="item.userOrganizationName"></div>
            <div class="col-xs-2 col-md-2">{{item.issuedLicenses.length}} of {{item.allowedActivations}}</div>
            <div class="col-xs-2 col-md-2" ng-bind="item.expirationDate | date:'yyyy-MM-dd'"></div>
            <div class="col-xs-2 col-md-3" ng-bind="item._id"></div>
            <div class="col-xs-2 col-md-2">
                <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editModal" ng-click="edit(item)">Edit</button>
                <button class="btn btn-danger" ng-click="deleteLicense(item)">Delete</button>
            </div>
        </div>
    </div>
</div>
<div class="box-content-bottom">
    <form name="inputForm" class="form-horizontal" novalidate role="form" ng-submit="inputForm.$valid && createLicense()">
        <div class="form-group">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <label class="sr-only" for="userOrganizationName">User / Organization name</label>
                <input name="userOrganizationName" id="userOrganizationName" ng-model="license.userOrganizationName"
                       type="text" class="form-control" id="userOrganizationName"
                       placeholder="Organization name" required />
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <label class="sr-only" for="expirationDate">Expiration date</label>
                <input ng-click="open($event)" type="text" class="form-control" uib-datepicker-popup="{{format}}"
                       ng-model="license.expirationDate"
                       is-open="status.opened" name="expirationDate"
                       show-weeks="false" show-button-bar="false"
                       datepicker-options="dateOptions" id="expirationDate" placeholder="Expiration date"
                       ng-required="true" close-text="Close" required />
                <div class="alert alert-danger" role="alert" ng-show="inputForm.expirationDate.$error.date">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span> Enter correct Expiration Date
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-12 col-sm-10 col-md-11 col-lg-11">
                <label class="sr-only" for="allowedActivations">Allowed activations</label>
                <input name="allowedActivations" ng-model="license.allowedActivations"
                       type="number" class="form-control" ng-pattern="/^\+?([1-9]\d*)$/"
                       id="allowedActivations" placeholder="Allowed activations"
                       negative-integer-validator required />
            </div>
            <div class="col-xs-12 col-sm-2 col-md-1 col-lg-1">
                <button role="button" ng-disabled="isSaving || inputForm.$invalid" type="submit"
                        class="btn btn-primary btn-sm btn-block active">Add</button>
            </div>
        </div>
    </form>
</div>

<!-- The Modal -->
<div class="modal" id="editModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Edit Software</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <!-- Modal body -->
            <form name="editForm" role="form" ng-submit="editLicense()" novalidate>
            <div class="modal-body">
                <div class="mb-3 mt-3">
                    <label class="form-label">
                        User / Organization Name:</label>
                    <input type="text" class="form-control" ng-model="current_item.userOrganizationName"
                     placeholder="Enter name" name="email" required>
                </div>
                <div class="mb-3 mt-3">
                    <label class="form-label">Expiration Date:</label>
                    <input ng-click="editOpen($event)" type="text" class="form-control" uib-datepicker-popup="{{format}}"
                       ng-model="current_item.expirationDate"
                       is-open="editStatus.opened" name="expirationDate"
                       show-weeks="false" show-button-bar="false"
                       datepicker-options="dateOptions" id="expirationDate" placeholder="Expiration date"
                       close-text="Close" required />
                </div>
                <div class="mb-3 mt-3">
                    <label class="form-label">
                        Allowed Activations:</label>
                    <input name="allowedActivations" ng-model="current_item.allowedActivations"
                    type="number" class="form-control" ng-pattern="/^\+?([1-9]\d*)$/"
                    id="allowedActivations" placeholder="Allowed activations"
                    negative-integer-validator required />
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary"  data-bs-dismiss="modal" >Save</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
            </div>
            </form>

        </div>
    </div>
</div>